<ion-view view-title="Messages">
	<ion-nav-buttons side="right">
		<ion-toggle ng-if="AXCHScopeData.state.loaded===true" class="toggle-clear header-toggle toggle-large" ng-model="AXCHScopeData.messageDirection" ng-true-value="'out'" ng-false-value="'in'">
		</ion-toggle>

	</ion-nav-buttons>
	<ion-content class="has-header has-footer">
		<div ng-if="AXCHScopeData.state.loaded === false" class="welcome">
			<div class="card">
				<div class="item item-divider">
					<h1 class=" wrap text-center">Welcome to <span class="assertive">AxisChat.</span></h1>
				</div>
				<div class="item item-text-wrap text-center">
					<ion-spinner icon="ripple"></ion-spinner>
				</div>
				<div class="item item-divider">
					<div class="wrap text-center">Please select a user to get started
					</div>
				</div>
			</div>
		</div>
		<div ng-if="AXCHScopeData.state.loaded === true" class="list message-list ">
			<div class="item elastic " style="border:0; padding: 10px; " ng-repeat="message in AXCHScopeData.selectedUser.messages track by $index">
				<div class="message card " ng-class="AXCHScopeData.checkMessageDirection(message)">


					<div class="message-text ">{{message.text}}</div>
					<div class="message-meta item-avatar ">
						<img ng-src="{{AXCHScopeData.getUserImage(message.createdBy)}}">
						<span class="fl-right ">{{message.created | date:'MMM dd, yyyy @ HH:mm'}}</span>
					</div>
				</div>
			</div>
		</div>

	</ion-content>
	<ion-footer-bar ng-if="AXCHScopeData.state.loaded===true" keyboard-attach class="bar-stable item-input-inset chat-footer ">
		<label class="item-input-wrapper ">
			<textarea placeholder="Type your message " on-return="sendMessage(); closeKeyboard() " ng-model="AXCHScopeData.messageModel" on-focus="inputUp() " on-blur="inputDown()" rows="1"></textarea>
      </label>
		<button ng-disabled="AXCHScopeData.checkSend()" class="button button-clear button-assertive " ng-click="AXCHScopeData.sendMessage() ">
       <span style="font-weight: bold ">SEND</span> 
      </button>
	</ion-footer-bar>
</ion-view>
