<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-dark">
			<ion-nav-back-button>
			</ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon menu-btn " menu-toggle="left">
        </button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left" expose-aside-when="large" width=400 class="side-menu-container">
		<ion-header-bar class="bar-dark">
			<h1 class="title">Chats</h1>
			<div class="buttons">
				<button class="button button-icon ion-android-search light" ng-click="sideMenuScope.showFilterBar()"></button>
			</div>
		</ion-header-bar>
		<ion-content class="has-footer">
			<div class="row menu-row">
				<div class="col">
					<button ng-click="sideMenuScope.sortValue('user')" class="button icon-left button-block button-positive">
						<i ng-if="sideMenuScope.sortData.asc && sideMenuScope.sortData.value=== 'user'" class="icon ion-chevron-up"></i>
						<i ng-if="!sideMenuScope.sortData.asc && sideMenuScope.sortData.value=== '-user'" class="icon ion-chevron-down" ></i>
					Name
				</button>
				</div>
				<div class="col">
					<button ng-click="sideMenuScope.sortValue('last.created')" class="button button-block button-positive">
						<i ng-if="sideMenuScope.sortData.asc &&  sideMenuScope.sortData.value=== 'last.created'" class="icon ion-chevron-up" ></i>
						<i ng-if="!sideMenuScope.sortData.asc && sideMenuScope.sortData.value=== '-last.created'" class="icon ion-chevron-down" ></i>
					Date
						
				</button>
				</div>
			</div>
			<div class="list">
				<div class="item item-avatar user-item" ng-repeat="user in sideMenuScope.userList | orderBy:sideMenuScope.sortData.value track by user.id" ng-click="sideMenuScope.openChat($event,user)" menu-close ng-class="sideMenuScope.checkActiveChat(user)">
					<img ng-src="{{user.img}}">
					<h2 style="font-weight: bold">{{user.user}}
						<span class="item-note last-date">
						{{user.last.created | date:'MMM dd, yyyy @ HH:MM'}}
					</span> </h2>
					<p>{{user.last.text}}</p>

				</div>
			</div>
		</ion-content>
		<ion-footer-bar class="bar bar-balanced">
			<h1 class="title text-center">&copy; Created By Samad Ali Sadiq</h1>
		</ion-footer-bar>
	</ion-side-menu>
</ion-side-menus>
